# 1) Write a python program to display all the header tags from wikipedia.org.

In [5]:
# Import necesary library

from bs4 import BeautifulSoup
import requests 
import pandas as pd

In [2]:
def header(url):
    header=[]
    r= BeautifulSoup(requests.get(url).content).find_all(['h1','h2','h3','h4','h5','h6'])
    for i in r:
        header.append(i)
    return pd.DataFrame(header,columns=['Header Tags'])

In [3]:
header('https://en.wikipedia.org/wiki/Main_Page')

C:\Users\Bank of America\anaconda3\lib\site-packages\pandas\core\internals\construction.py:540: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                          Header Tags
0                                         [Main Page]
1                        [[Welcome to , [Wikipedia]]]
2               [[], [From today's featured article]]
3                                [[Did you know ...]]
4                                     [[In the news]]
5                                     [[On this day]]
6                    [[], [Today's featured picture]]
7                        [[Other areas of Wikipedia]]
8                 [[], [Wikipedia's sister projects]]
9                             [[Wikipedia languages]]
10                                  [Navigation menu]
11                         [\n, [Personal tools], \n]
12                             [\n, [Namespaces], \n]
13  [\n, [English], \n, [expanded], \n, [collapsed...
14                                  [\n, [Views], \n]
15  [\n, [More], \n, [expanded], \n, [collapsed], \n]
16                                 [\n, [Search], \n]
17                             [\n, [Navigation], \n]
18                             [\n, [Contribute], \n]
19                                  [\n, [Tools], \n]
20                           [\n, [Print/export], \n]
21                      [\n, [In other projects], \n]
22                              [\n, [Languages], \n]

# 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame

In [4]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [5]:
def header(url):
    movie=[]
    rating=[]
    year=[]
    soup= BeautifulSoup(requests.get(url).content)
    
    for i in soup.find_all('div',class_="lister-item-content"):
        movie.append(i.find('a').text)
    
    for i in soup.find_all('div',class_="ipl-rating-star small"):
        rating.append(i.text.strip())
        
    for i in soup.find_all('span',class_="lister-item-year text-muted unbold"):
        year.append(i.text[-5:-1])
    
    data= pd.DataFrame({"Movie Name":movie, "Ratings":rating,"Year of Release":year})
    return data

In [6]:
a=header("https://www.imdb.com/list/ls091520106/")

In [7]:
a

                                           Movie Name Ratings Year of Release
0                            The Shawshank Redemption     9.3            1994
1                                       The Godfather     9.2            1972
2                              The Godfather: Part II       9            1974
3                                     The Dark Knight       9            2008
4                                        12 Angry Men       9            1957
5                                    Schindler's List     8.9            1993
6       The Lord of the Rings: The Return of the King     8.9            2003
7                                        Pulp Fiction     8.9            1994
8                     Il buono, il brutto, il cattivo     8.8            1966
9                                          Fight Club     8.8            1999
10                                              Joker     8.4            2019
11  The Lord of the Rings: The Fellowship of the Ring     8.8            2001
12                                       Forrest Gump     8.8            1994
13                                          Inception     8.8            2010
14     Star Wars: Episode V - The Empire Strikes Back     8.7            1980
15              The Lord of the Rings: The Two Towers     8.7            2002
16                                         The Matrix     8.7            1999
17                    One Flew Over the Cuckoo's Nest     8.7            1975
18                                         Goodfellas     8.7            1990
19                               Shichinin no samurai     8.6            1954
20                                              Se7en     8.6            1995
21                                     Cidade de Deus     8.6            2002
22                                    La vita è bella     8.6            1997
23                           The Silence of the Lambs     8.6            1991
24                                          Star Wars     8.6            1977
25                              It's a Wonderful Life     8.6            1946
26                                Saving Private Ryan     8.6            1998
27                      Sen to Chihiro no kamikakushi     8.6            2001
28                                     The Green Mile     8.6            1999
29                                               Léon     8.5            1994
30                                            Seppuku     8.6            1962
31                                       Interstellar     8.6            2014
32                                 The Usual Suspects     8.5            1995
33                                      The Lion King     8.5            1994
34                                 American History X     8.5            1998
35                                 Back to the Future     8.5            1985
36                                        The Pianist     8.5            2002
37                                       Modern Times     8.5            1936
38                         Terminator 2: Judgment Day     8.5            1991
39                                   The Intouchables     8.5            2011
40                                             Psycho     8.5            1960
41                                          Gladiator     8.5            2000
42                                        City Lights     8.5            1931
43                                       The Departed     8.5            2006
44                                           Whiplash     8.5            2014
45                       Once Upon a Time in the West     8.5            1968
46                                       The Prestige     8.5            2006
47                                  Avengers: Endgame     8.4            2019
48                                         Casablanca     8.5            1942
49                                     Hotaru no haka     8.5            1988
50                                        Rear Window     8.5            1954
51                              Nuovo Cinema Paradiso     8.5            1988
52                                              Alien     8.4            1979
53                            Raiders of the Lost Ark     8.4            1981
54                                            Memento     8.4            2000
55                                     Apocalypse Now     8.4            1979
56                                 The Great Dictator     8.4            1940
57                                The Lives of Others     8.4            2006
58                             Avengers: Infinity War     8.4            2018
59                                   Django Unchained     8.4            2012
60                  Spider-Man: Into the Spider-Verse     8.4            2018
61                                        The Shining     8.4            1980
62                                     Paths of Glory     8.4            1957
63                                             WALL·E     8.4            2008
64                                       Sunset Blvd.     8.4            1950
65  Dr. Strangelove or: How I Learned to Stop Worr...     8.4            1964
66                                      Mononoke-hime     8.4            1997
67                                           Oldeuboi     8.4            2003
68                        Witness for the Prosecution     8.4            1957
69                              The Dark Knight Rises     8.4            2012
70                        Once Upon a Time in America     8.3            1984
71                                       Gisaengchung     8.6            2019
72                                             Aliens     8.3            1986
73                                    American Beauty     8.3            1999
74                                               Coco     8.4            2017
75                                     Kimi no na wa.     8.4            2016
76                                         Braveheart     8.3            1995
77                                           Das Boot     8.3            1981
78                                           3 Idiots     8.4            2009
79                                   Taare Zameen Par     8.4            2007
80         Star Wars: Episode VI - Return of the Jedi     8.3            1983
81                                          Toy Story     8.3            1995
82                                     Reservoir Dogs     8.3            1992
83                                            Amadeus     8.3            1984
84                                             Dangal     8.4            2016
85                                  Good Will Hunting     8.3            1997
86                               Inglourious Basterds     8.3            2009
87                  M - Eine Stadt sucht einen Mörder     8.3            1931
88                                Requiem for a Dream     8.3            2000
89                              2001: A Space Odyssey     8.3            1968
90                                            Vertigo     8.3            1958
91              Eternal Sunshine of the Spotless Mind     8.3            2004
92                                       Citizen Kane     8.3            1941
93                                  Full Metal Jacket     8.3            1987
94                                             Jagten     8.3            2012
95                                 North by Northwest     8.3            1959
96                                 A Clockwork Orange     8.3            1971
97                                             Snatch     8.2            2000
98                Le fabuleux destin d'Amélie Poulain     8.3            2001
99                                            The Kid     8.3            1921

# 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [8]:
def Hindi_top_100(url):
    movie=[]
    rating=[]
    year=[]
    soup= BeautifulSoup(requests.get(url).content)
    
    for i in soup.find_all('div',class_="lister-item-content"):
        movie.append(i.find('a').text)
    
    for i in soup.find_all('div',class_="ipl-rating-star small"):
        rating.append(i.text.strip())
        
    for i in soup.find_all('span',class_="lister-item-year text-muted unbold"):
        year.append(i.text[-5:-1])
    
    data= pd.DataFrame({"Movie Name":movie, "Ratings":rating,"Year of Release":year})
    return data

In [9]:
Hindi_Movies=Hindi_top_100("https://www.imdb.com/list/ls009997493/")

In [10]:
Hindi_Movies

                           Movie Name Ratings Year of Release
0                     Rang De Basanti     8.1            2006
1                            3 Idiots     8.4            2009
2                    Taare Zameen Par     8.4            2007
3                      Dil Chahta Hai     8.1            2001
4              Swades: We, the People     8.2            2004
5   Lagaan: Once Upon a Time in India     8.1            2001
6                  Gangs of Wasseypur     8.2            2012
7                              Barfi!     8.1            2012
8                               Anand     8.2            1971
9                 Munna Bhai M.B.B.S.     8.1            2003
10                        A Wednesday     8.1            2008
11                    Andaz Apna Apna     8.1            1994
12                             Sholay     8.2            1975
13                 Bhaag Milkha Bhaag     8.2            2013
14                         Hera Pheri     8.2            2000
15                              Udaan     8.2            2010
16                            Kahaani     8.1            2012
17                              Black     8.2            2005
18                     Chak De! India     8.2            2007
19                  Khosla Ka Ghosla!     8.3            2006
20             Jo Jeeta Wohi Sikandar     8.2            1992
21           Zindagi Na Milegi Dobara     8.2            2011
22                   Paan Singh Tomar     8.2            2012
23        Dilwale Dulhania Le Jayenge     8.1            1995
24                             Omkara     8.1            2006
25               Lage Raho Munna Bhai     8.1            2006
26                              Iqbal     8.1            2005
27                       The Lunchbox     7.8            2013
28                       Black Friday     8.5            2004
29                            Company       8            2002
30                            Golmaal     8.6            1979
31                              Dev.D       8            2009
32                 Jaane Bhi Do Yaaro     8.4            1983
33                    OMG: Oh My God!     8.1            2012
34                      Mughal-E-Azam     8.2            1960
35                             Gulaal     8.1            2009
36                                Dor     7.9            2006
37                         Jab We Met     7.9            2007
38                             Pyaasa     8.5            1957
39         The Legend of Bhagat Singh     8.1            2002
40                             Masoom     8.4            1983
41                     Salaam Bombay!       8            1988
42                              Satya     8.3            1998
43                        Vicky Donor     7.8            2012
44                            Lakshya     7.9            2004
45               Vaastav: The Reality       8            1999
46                      Kal Ho Naa Ho     7.9            2003
47              Oye Lucky! Lucky Oye!     7.7            2008
48                          Sarfarosh     8.1            1999
49                          Gangaajal     7.8            2003
50                             Angoor     8.3            1982
51                        Madras Cafe     7.7            2013
52                   English Vinglish     7.8            2012
53                      Chupke Chupke     8.3            1975
54                     Johnny Gaddaar     7.8            2007
55                            Maqbool     8.1            2003
56           Hazaaron Khwaishein Aisi     7.9            2003
57                          Rock On!!     7.7            2008
58                                Don     7.8            1978
59                     Chhoti Si Baat     8.3            1976
60                              Guide     8.4            1965
61                         Raanjhanaa     7.6            2013
62                            Deewaar     8.1            1975
63                    Special Chabbis       8            2013
64                            Padosan     8.1            1968
65                   Mumbai Meri Jaan     7.7            2008
66                    Ab Tak Chhappan     7.8            2004
67                        Kai po che!     7.8            2013
68                             Awaara     7.9            1951
69                          Shree 420       8            1955
70                              Earth     7.7            1998
71                              Gunda     7.4            1998
72                            Parinda     7.8            1989
73                        Dasvidaniya     7.8            2008
74                            Hey Ram       8            2000
75       Pinjar: Beyond Boundaries...       8            2003
76                       Socha Na Tha     7.4            2005
77                               Guru     7.7            2007
78                           Bawarchi     8.1            1972
79           Manorama: Six Feet Under     7.6            2007
80                          Mr. India     7.8            1987
81                              Aamir     7.7            2008
82                              Zakhm     7.9            1998
83                              Water     7.7            2005
84                   Stanley Ka Dabba     7.8            2011
85                          Agneepath     7.7            1990
86                    My Name Is Khan       8            2010
87             Qayamat Se Qayamat Tak     7.5            1988
88                        3 Deewarein     7.8            2003
89                           Abhimaan     7.9            1973
90                             Sarkar     7.6            2005
91                          Bheja Fry     7.6            2007
92                       Mother India       8            1957
93            Jaane Tu... Ya Jaane Na     7.5            2008
94                        Delhi Belly     7.6            2011
95                        Wake Up Sid     7.6            2009
96                           Rangeela     7.5            1995
97                Shatranj Ke Khilari     7.7            1977
98                 Pyaar Ka Punchnama     7.6            2011
99                      Ek Hasina Thi     7.5            2004

# 4) Write a python program to scrape product name, price and discounts from https://meesho.com/bags-ladies/pl/p7vbp

In [11]:
def product(url):
    name=[]
    price=[]
    discount=[]
    soup= BeautifulSoup(requests.get(url).content)
    
    for i in soup.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS"):
        name.append(i.text.strip())
    
    for i in soup.find_all('div',class_="Card__BaseCard-sc-b3n78k-0 iLPHgK NewProductCard__PriceRow-sc-j0e7tu-5 eyya-Dr NewProductCard__PriceRow-sc-j0e7tu-5 eyya-Dr"):
        price.append(i.find('h5').text.replace('₹','' ))
        
    for i in soup.find_all('div',class_="Card__BaseCard-sc-b3n78k-0 iLPHgK NewProductCard__PriceRow-sc-j0e7tu-5 eyya-Dr NewProductCard__PriceRow-sc-j0e7tu-5 eyya-Dr"):
        discount.append(i.find('span').text)
    
    data= pd.DataFrame({"Product Name":name, "Price":price,"Discount in %":discount})
    return data

In [12]:
product("https://meesho.com/bags-ladies/pl/p7vbp")

                           Product Name Price Discount in %
0    Voguish Fashionable Women Handbags   211       30% off
1                Stylish Women Handbags   211       30% off
2         Classic Classy Women Handbags   188       30% off
3   Ravishing Attractive Women Handbags   565       15% off
4      Graceful Alluring Women Handbags   195       30% off
5       Elegant Alluring Women Handbags   222       30% off
6    Gorgeous Attractive Women Handbags   216       30% off
7        Trendy Alluring Women Handbags   375       21% off
8        Trendy Alluring Women Handbags   289       26% off
9        Gorgeous Classy Women Handbags   199       30% off
10        Trendy Stylish Women Handbags   360       22% off
11      Elite Attractive Women Handbags   378       21% off
12         Trendy Classy Women Handbags   324       24% off
13        Classic Classy Women Handbags   213       30% off
14        Voguish Classy Women Handbags   274       27% off
15   Ravishing Versatile Women Handbags   249       29% off
16       Trendy Alluring Women Handbags   466       18% off
17         Classic Fancy Women Handbags   280       26% off
18        Voguish Classy Women Handbags   185       30% off
19    Voguish Attractive Women Handbags   877       10% off

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team and rating.
c) Top 10 ODI bowlers along with the records of their team and rating.

In [33]:
def ODI_team(url):
    
    soup= BeautifulSoup(requests.get(url).content)  # Get website content
    team=[]
    matches=[]
    points=[]
    ratings=[]
# Take 1st Rank,Matches,Points,Ratings from Banner(table content)

    for i in soup.find_all('span',class_="u-hide-phablet"):
        team.append(i.text)
    
    for i in soup.find_all('td',class_="rankings-block__banner--matches"):
        matches.append(i.text)
    
    
    for i in soup.find_all('td',class_="rankings-block__banner--points"):
        points.append(i.text)
    
    for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
        ratings.append(i.text.strip())
    
# Take Matches, Points, Ratings (2-10)
    table=[]
    for i in soup.find_all('tr',class_="table-body"):
        table.append(i.text.split())

    for i in table:
        matches.append(i[-3])
        points.append(i[-2])
        ratings.append(i[-1])
    
    data=pd.DataFrame({'Team':team[:10],'Matches':matches[:10],'Points':points[:10],'Ratings':ratings[:10]})
    data.index +=1
    return data



def ODI(url):
    
    soup= BeautifulSoup(requests.get(url).content)
    player=[]
    team=[]
    ratings=[]

# take 1st rank from Banner(table contect)
    for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
        player.append(i.text)
    
    for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
        team.append(i.text.strip())
    
    
    for i in soup.find_all('div',class_="rankings-block__banner--rating"):
        ratings.append(i.text)
    
        
# take remaining content
    for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
        player.append(i.text.strip())

    for i in soup.find_all('span',class_="table-body__logo-text"):
        team.append(i.text.strip())   
    
    for i in soup.find_all('td',class_="table-body__cell rating"):
        ratings.append(i.text.strip())  
        
    data= pd.DataFrame({"Player":player[:10],"Team":team[:10],'ratings' :ratings[:10] })
    data.index +=1
    return data

In [41]:
Top_Team_Men =ODI_team("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
Top_Team_Men

            Team Matches Points Ratings
1    New Zealand      17  2,054     121
2        England      32  3,793     119
3      Australia      28  3,244     116
4          India      38  4,162     110
5   South Africa      28  2,943     105
6       Pakistan      27  2,524      93
7     Bangladesh      30  2,740      91
8      Sri Lanka      35  2,835      81
9    West Indies      36  2,788      77
10   Afghanistan      20  1,336      67

In [42]:
Top_Batsman_Man= ODI("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting" )
Top_Batsman_Man

                   Player Team ratings
1              Babar Azam  PAK     873
2             Virat Kohli  IND     811
3            Rohit Sharma  IND     791
4         Quinton de Kock   SA     783
5             Aaron Finch  AUS     779
6          Jonny Bairstow  ENG     775
7            David Warner  AUS     762
8   Rassie van der Dussen   SA     750
9            Fakhar Zaman  PAK     741
10               Joe Root  ENG     740

In [43]:
Top_Bowler_Men=ODI("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
Top_Bowler_Men

              Player Team ratings
1        Trent Boult   NZ     737
2     Josh Hazlewood  AUS     709
3       Chris Woakes  ENG     700
4   Mujeeb Ur Rahman  AFG     697
5       Mehedi Hasan  BAN     692
6         Matt Henry   NZ     691
7     Jasprit Bumrah  IND     679
8     Mitchell Starc  AUS     652
9    Shakib Al Hasan  BAN     650
10      Andy McBrine  IRE     646

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [40]:
# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

#Function from last question, Pass the url link to get details

Top_Team_Women=ODI_team('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
Top_Team_Women

            Team Matches Points Ratings
1      Australia      20  3,263     163
2   South Africa      21  2,580     123
3        England      21  2,474     118
4          India      20  2,024     101
5    New Zealand      22  2,142      97
6     Bangladesh       5    475      95
7    West Indies      21  1,801      86
8       Pakistan      19  1,304      69
9        Ireland       5    240      48
10     Sri Lanka       5    233      47

In [38]:
Top_Batsman_Women= ODI("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
Top_Batsman_Women

               Player Team ratings
1        Alyssa Healy  AUS     749
2         Mithali Raj  IND     741
3   Amy Satterthwaite   NZ     719
4      Tammy Beaumont  ENG     707
5         Meg Lanning  AUS     706
6         Beth Mooney  AUS     705
7         Lizelle Lee   SA     702
8     Smriti Mandhana  IND     668
9     Laura Wolvaardt   SA     661
10       Ellyse Perry  AUS     661

In [39]:
Top_Bowler_Women= ODI("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling")
Top_Bowler_Women

               Player Team ratings
1       Jess Jonassen  AUS     762
2   Sophie Ecclestone  ENG     746
3        Megan Schutt  AUS     735
4      Jhulan Goswami  IND     723
5      Shabnim Ismail   SA     689
6        Ellyse Perry  AUS     663
7      Ayabonga Khaka   SA     661
8      Marizanne Kapp   SA     660
9     Katherine Brunt  ENG     648
10         Kate Cross  ENG     603

# 7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content
and the code for the video from the link for the youtube video from the post.

# 8) Write a python program to scrape house details from mentioned URL. It should include house title, location, area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

In [10]:




def House(url):
    soup= BeautifulSoup(requests.get(url).content)  # Get website content
    
    title=[]
    location=[]
    area=[]
    price=[]
    emi=[]
    for i in soup.find_all('span',class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full"):
        title.append(i.text)

    for i in soup.find_all('div',class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95"):
        location.append(i.text)     
    lst=[]      
    for i in soup.find_all('div',class_="font-semi-bold heading-6"):
        lst.append(i.text)              
    for i in lst:
        if 'sqft' in i: area.append(i)
        elif 'Month' in i: emi.append(i)
        elif 'Crores' in i: price.append(i)
        
        
    data= pd.DataFrame({"House Title":title,"Location":location,"Area":area,"EMI":emi,"Price":price   })
    data.index +=1
    return data

In [11]:
House('https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIifSx7ImxhdCI6MTIuOTMwNzczNSwibG9uIjo3Ny41ODM4MzAyLCJwbGFjZUlkIjoiQ2hJSjJkZGxaNWdWcmpzUmgxQk9BYWYtb3JzIiwicGxhY2VOYW1lIjoiSmF5YW5hZ2FyIn0seyJsYXQiOjEyLjk3ODM2OTIsImxvbiI6NzcuNjQwODM1NiwicGxhY2VJZCI6IkNoSUprUU4zR0tRV3Jqc1JOaEJRSnJoR0Q3VSIsInBsYWNlTmFtZSI6IkluZGlyYW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Rajajinagar,&locality=Jayanagar,&locality=Indiranagar' )

,House Title,Location,Area,EMI,Price
1,3 BHK Flat For Sale In Sgrr Pallavi Pristin...,"11th Main Road,36 Cross, 4th T Block, Near ,Po...","1,340 sqft","₹74,508/Month",₹1.3 Crores
2,2 BHK In Independent House For Sale In 9th B...,"Independent House, 41 A Cross, 18th Main, Jaya...","1,500 sqft","₹65,911/Month",₹1.15 Crores
3,3 BHK Flat For Sale In Total Environment Lif...,"30th Cross Rd, 4th T Block , Jayanagar, Bengal...","2,628 sqft",₹1.72 Lacs/Month,₹3 Crores
4,4 BHK In Independent House For Sale In Jayan...,"Independent House, 47th Cross Rd, 8th Block, 1...","3,700 sqft",₹5.44 Lacs/Month,₹9.5 Crores
5,"3 BHK Flat For Sale In Sobha Indraprastha, R...","Minerva Mills Compound,Opposite Sujata Theatre...","2,200 sqft",₹2.06 Lacs/Month,₹3.6 Crores

# 9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [63]:
# Import necesary library

from bs4 import BeautifulSoup
import requests 
import pandas as pd

In [64]:
def scrapping(url):
    #create enmpt list to store variables
    restro=[]
    cuisine=[]
    location=[]
    ratings=[]
    image=[]
    
    soup=BeautifulSoup(requests.get(url).content)
    
    for i in soup.find_all('div', class_="restnt-info cursor"):
        restro.append(i.text)
    
    for i in soup.find_all('span',class_="double-line-ellipsis" ):
        cuisine.append(i.text.split('|')[1])
    
    for i in soup.find_all('div',class_="restnt-loc ellipsis"  ):
        location.append(i.text)
    
    for i in soup.find_all('div',class_="restnt-rating rating-4"):
        ratings.append(i.text)
    
    for i in soup.find_all('img',class_="no-img" ):
        image.append(i['data-src'])
    
    data= pd.DataFrame({"Restaurant name":restro, "Cuisine":cuisine,"Location":location,"Ratings":ratings,"Image Url":image  })
    
    return data

In [15]:
scrapping( 'https://www.dineout.co.in/delhi-restaurants/buffet-special')

,Restaurant name,Cuisine,Location,Ratings,Image Url
0,"Castle BarbequeConnaught Place, Central Delhi","North Indian, Chinese","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","Barbecue, North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","Chinese, North Indian, Mughlai","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","Multi-Cuisine, Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi","North Indian, Italian, Oriental","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...",North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"North Indian, Chinese, Fast Food","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
8,"World CafeVibe by The Lalit Traveller,Sector 3...","North Indian, Chinese, Continental","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,"Indian Grill RoomSuncity Business Tower,Golf C...","North Indian, Barbecue, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,"Mad 4 Bar B QueSector 29, Faridabad","North Indian, Mughlai","Sector 29, Faridabad",3.6,https://im1.dineout.co.in/images/uploads/resta...
11,"Barbeque 29NIT, Faridabad","North Indian, Barbecue, Chinese","NIT, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"European, Indian Cuisine, Italian, Asian, Con...","DoubleTree By Hilton Gurugram Baani Square,Sec...",4.1,https://im1.dineout.co.in/images/uploads/resta...

# 10) Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/women-tshirts?ga_q=tshirts .